discoteque/Connected Services/ProductoSevice/ProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Actualizar" type="tns:Actualizar" />
  <xs:element name="ActualizarResponse" type="tns:ActualizarResponse" />
  <xs:element name="IngresarProducto" type="tns:IngresarProducto" />
  <xs:element name="IngresarProductoResponse" type="tns:IngresarProductoResponse" />
  <xs:element name="buscarProducto" type="tns:buscarProducto" />
  <xs:element name="buscarProductoResponse" type="tns:buscarProductoResponse" />
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:complexType name="buscarProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Actualizar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ActualizarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IngresarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IngresarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>